.wrap {
    background-color: aqua;
    width:500px;
    /* 자식에 float 적용시 생기는 부모 오류해결법 */
    /* 1. 높이강제부여 */
    /* height: 100px; */
    /* 2. 자식높이재인식 (가출한 애 잡아옴)*/
    /* overflow: hidden; */ /* 넘친부위를 숨겨라 */
}
/* 3. 가상자식생성 (입양)*/
.wrap::after {clear:both; display:block; content:'d';}
.wrap .a {
    border:5px solid red;
    float:left;
} 
.wrap .b {
    border:5px solid blue;
    float:right;
}
.wrap .c {
    border:5px solid green;
    float:left;
    /* clear:both; *//* 이전형제 float 위치 제거->새로운 행 선언 */
    /* css는 html 태그 순서와 상관없이 디자인에 필요한 순서를 재창조 할 수 있다. */
}
/*  float 에는 부유개념이 있어 배경이 안보인다.
(부모가 자식한테서 벗어낫다고 생각해서 부모의 높이가 0처리가 된다.)
그래서 다음 형제가 겹쳐서 보여 레이아웃이 망가짐. 
반드시 강제로 부모를 늘려줘야함. 예 -> height를 설정함 부모에*/
.wrap .a,
.wrap .b,
.wrap .c {
    width: 100px; height: 100px; background-color: yellow;
}
.next {
    width: 500px; height: 250px;
    background-color: gold;
}
