html, body, h1, h2, h3, h4, h5, h6, 
p, blockquote, ul, ol, li, dl, dt, dd, address, 
strong, em, sub, sup, del, s, q, code, img, a, video, 
table, tr, th, td, thead, tbody, tfoot
form, fieldset, input, label, legend, button, textarea, option, select,
header, nav, main, footer, aside, section, article, figure, figcaption, div, span {
    margin:0; padding:0;
    font-size:1.0rem;
    font-weight:normal;
    font-style:normal;
    line-height:1.0;
    list-style:none; 
}
a {text-decoration:none; color:#000}
table, tr, td, th {border-collapse;}
button {cursor:pointer; border:none; background:none; }