

main {
    width: 850px;
    margin: 0 auto;
    border:1px solid gray;
    word-spacing: 2;
}
main .top {
    overflow: hidden;
    height:100px;
    border-bottom:1px solid gray;
}
main .top h1 {
    font-size: 20px;
    float:left;
    padding-top: 40px;
    margin:0 25px;
}
main .top dl {padding-top: 40px; margin:0 25px;}
main .top dl dd {font-size: 14px; float:right;}
main .top dl dd i {padding-right:5px;}
main .top dl dd span {font-size: 14px; }
main .top dl dd em {font-size: 14px; font-weight: bold;}
main section {}
main section h2 {
    margin:0 25px;
    font-size:17px;
    padding:100px 0px 50px 0px;
    color:darkblue;
    font-weight: bold;
}
main section h2 i {
    padding-right:5px;
    color:darkblue;}
main section p {
    line-height: 130%;
    padding-bottom:50px; 
    margin:0 25px;
    word-spacing: 5px;
}
main section p em {
    font-size: 30px; color:green;

}
main section p:nth-of-type(1) {font-size:30px;}
main section p:nth-of-type(4) {padding-bottom: 100px;}
