#btn {
    background:#ff0;
    padding:50px;
    border-radius: 10px;
    font-size: 2rem;
    transition:all 0.5s, ease 1s;
}
#btn:hover {
    background: #0ff;
    border-radius: 20px;
    font-size: 3rem;
    border: solid #eee cubic-bezier(0.09,-0.74, 1,-0.2);
}

/* 호버에다가 트렌지션을 주면 마우스가 올라갈떄만 되지만, 선택자 자체에 주면 올렸을때 떼었을떄 다 됨 */
/* 호버에다가 변경하고 싶은 값을 넣고 선택자 자체에는 시간을 넣음 됨.  */
/* 트렌지션에 all 넣으면 전체 설정 변경 가능 */
/* 두개 이상의 효과를 넣고 싶다면  transition:all 1s, padding 0.5s;*/
/* eas */