/* flex는 정렬하고자 하는 형제의 부모에게 주는 것  */
.box {
    width: 90%; 
    max-width: 1024px;
    min-width: 320px;
    margin: 50px auto 0;
    background: aqua;
    display: flex;
    flex-flow: row wrap;
    
}
.box a {
    width: 25%;
    height: 250px;
    margin-bottom: 30px;
    }

.box a:nth-child(odd) {background-color: pink;}
.box a:nth-child(even) {background-color: yellow;}
/* 화면 사이즈가 작아졌을떄 레이아웃을 새로 정렬 할 때
 */
/* @media screen and (max-width:768px) {
    .box a {width:50%;}
} */
@media screen and (max-width:1024px) {
    .box a {width:33.33%}
}
@media screen and (max-width:600px) {
    .box a {width:50%}
}
@media screen and (max-width:400px) {
    .box a {width:100%}
}