
.container {
    max-width: 1200px; margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
/*     grid-template-rows: repeat(2, 400px); */
    background-color: aqua;
    /* place-content: center; */
}
.container a {
    padding: 0 0 50px;
    background-color: aquamarine;
}
.container a p {

}
.container a p img {
    width: 100%;
}
@media screen and (max-width:786px){
    .container {
        max-width: clac(100% - 30px);
        grid-template-columns: repeat(2, 1fr)
    }
}