/* all layout */
header {
    /* 색상 투명하게 하기
    background:rgba(0,0,0, 0.8);
    (빨, 초, 파, 투명도) */
    background:rgba(0,0,0, 0.6);
    /* 포지션 fixed 주면 인라인으로 바뀌어서 width 다시 줘야함*/
    position: fixed; left: 0; top:0; z-index: 9999;
    width: 100%;
    height:80px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}
main {
    background-color: #f8f9fa;
    padding: 50px 0;
    border-bottom: 1px solid #888;
} 
main>*{margin-bottom:50px;}
footer {}

/* header */
header h1 {
    width :150px;
}
header h1 a {
    
}
header h1 a img {
    width: 100%; /* 부모 크기가 변경되어도 크기 같게 */
}
header nav{}
header nav a {
    color:#eee;
    margin-left:25px;
}
header nav a:hover {color:#fff; }
header nav a:first-child {margin-left: 0;}
header .lnb {
    color: #fff;
}

/* 마우스 올렸을 때 색 변환은  :hover {}*/
header .lnb:hover {color: yellow;}
header .lnb::after {content:'\f138';
    display: inline-block; 
    font-weight: 600; color:#17a2b8;  
    margin-left: 10px;}

/* 베너 비디오*/
main .visual {
    height: 940px; overflow:hidden;
    position:relative;
}
main .visual video {
    width:100%
}
main .visual .ai {
    position:absolute; left:50%; top:50%;
    /* 포지션 적용할 떄 기준점이 왼쪽 위기 때문에 축을 정 가운데로 이동 하기 위해서는
    아래와 같은 이동 속성을 사용해야한다.  */
    transform: translate(-50%, -50%);
    width:500px;
}
main .visual .ai img {
    width: 100%;
}

/* 첫라인 세개 */
main .board {
    width: 1140px; margin :0 auto;
    display:flex;
    flex-direction: row nowrap; 
    justify-content: space-between;
}
main .board a {
    margin-left : 2%;
    width:32%;
    background-color: #fff;
    padding:30px 20px 60px ;
    letter-spacing: -1px;
}
main .board a h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
}
main .board a h2:hover {
    text-decoration: underline;
}
main .board a .subtitle{
    font-size :14px;
    padding:20px 0;
}
main .board a .contents{
    font-size :14px;
    padding:20px 0;
    line-height: 20px;
}
main .board a:first-child .contents{
    color:gray;
    white-space:wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    display:-webkit-box;
    height: 60px;
}

/*두번째라인 */
main .gallery {
    width: 1140px; margin :0 auto;
    display:flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    padding-top:30px
}
main .gallery a {
    margin-left : 2%;
    width:32%;
    background-color: #fff;
    padding:30px 20px 60px;
    letter-spacing: -1px;}

main .gallery a .subtitle {
    font-size: 14px;
    padding:30px 20px 60px ;
    padding-bottom: 20px;
}
main .gallery a h2:hover {
    text-decoration: underline;
}
main .gallery a .img {}
main .gallery a .img img {
    width: 100%;
    padding-bottom: 10px;
}
main .gallery a h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
}
main .gallery a .contents {
    font-size :14px;
    padding:20px 0;
    line-height: 20px;
    color: gray;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    display:-webkit-box;
}

/* footer */
footer {
    
}
footer .f_container {
    padding:30px;
    width: 1140px; margin :0 auto;
    position:relative;
    
}
footer .f_container .f_top {
    background-color: yellow;
}
footer .f_container .f_top .f_t_left {}
footer .f_container .f_top .f_t_left a:hover{text-decoration: underline;}
footer .f_container .f_top .f_t_left a {
    padding-right:40px;
}
footer .f_container .f_top .f_t_left a:last-child{padding-right: 0;}
footer .f_container .f_top .f_t_left a::after {
    width:1px; height: 20px; background-color: gray;
    content:''; display: inline-block;
    position:relative; right:-20px; top:5px;
}
footer .f_container .f_top .f_t_left a:last-child::after{
    display:none;
}
footer .f_container .f_top .site {
    background-color: #333; color:white;
    border-radius: 5px;
    padding:10px;
    display:inline-block;
    position:absolute; top: 15px;; right:0;
}
footer .f_container .f_top .site:hover {background-color:#000;}
footer .f_container .f_btm {
    padding-top:20px;
    color:gray;

}
footer .f_container .f_btm address {
    line-height: 30px;
    padding-top:20px
}
footer .f_container .f_btm p {
    line-height: 30px;
}